@import url("https://fonts.googleapis.com/css?family=Exo&display=swap");
html, body, h1 {
  padding: 0;
  margin: 0; }

#app {
  background: white;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  z-index: 1; }

#wrapper {
  text-align: center; }

.glitch {
  font-family: "Exo", sans-serif;
  position: relative;
  color: black;
  font-size: 58px;
  letter-spacing: 15px;
  margin: 0 auto; }

@keyframes glitch-animate {
  0% {
    clip: rect(73px, 9999px, 14px, 0);
    text-shadow: -2px 0 #d598b7;
    transform: skew(0.48deg); }
  100% {
    transform: none; }
  5% {
    clip: rect(47px, 9999px, 46px, 0);
    text-shadow: -2px 0 #d598b7;
    transform: skew(0.74deg); }
  100% {
    transform: none; }
  10% {
    clip: rect(36px, 9999px, 88px, 0);
    text-shadow: -2px 0 #d598b7;
    transform: skew(0.32deg); }
  100% {
    transform: none; }
  15% {
    clip: rect(54px, 9999px, 75px, 0);
    text-shadow: -2px 0 #d598b7;
    transform: skew(0.38deg); }
  100% {
    transform: none; }
  20% {
    clip: rect(45px, 9999px, 38px, 0);
    text-shadow: -2px 0 #d598b7;
    transform: skew(0.92deg); }
  100% {
    transform: none; }
  25% {
    clip: rect(84px, 9999px, 47px, 0);
    text-shadow: -2px 0 #d598b7;
    transform: skew(0.5deg); }
  100% {
    transform: none; }
  30% {
    clip: rect(20px, 9999px, 91px, 0);
    text-shadow: -2px 0 #d598b7;
    transform: skew(0.64deg); }
  100% {
    transform: none; }
  35% {
    clip: rect(65px, 9999px, 72px, 0);
    text-shadow: -2px 0 #d598b7;
    transform: skew(0.7deg); }
  100% {
    transform: none; }
  40% {
    clip: rect(47px, 9999px, 59px, 0);
    text-shadow: -2px 0 #d598b7;
    transform: skew(0.3deg); }
  100% {
    transform: none; }
  45% {
    clip: rect(66px, 9999px, 12px, 0);
    text-shadow: -2px 0 #d598b7;
    transform: skew(0.76deg); }
  100% {
    transform: none; }
  50% {
    clip: rect(98px, 9999px, 53px, 0);
    text-shadow: -2px 0 #d598b7;
    transform: skew(0.75deg); }
  100% {
    transform: none; }
  55% {
    clip: rect(6px, 9999px, 85px, 0);
    text-shadow: -2px 0 #d598b7;
    transform: skew(0.94deg); }
  100% {
    transform: none; }
  60% {
    clip: rect(36px, 9999px, 81px, 0);
    text-shadow: -2px 0 #d598b7;
    transform: skew(0.99deg); }
  100% {
    transform: none; }
  65% {
    clip: rect(17px, 9999px, 74px, 0);
    text-shadow: -2px 0 #d598b7;
    transform: skew(0.48deg); }
  100% {
    transform: none; }
  70% {
    clip: rect(49px, 9999px, 72px, 0);
    text-shadow: -2px 0 #d598b7;
    transform: skew(0.36deg); }
  100% {
    transform: none; }
  75% {
    clip: rect(42px, 9999px, 45px, 0);
    text-shadow: -2px 0 #d598b7;
    transform: skew(0.6deg); }
  100% {
    transform: none; }
  80% {
    clip: rect(2px, 9999px, 86px, 0);
    text-shadow: -2px 0 #d598b7;
    transform: skew(0.09deg); }
  100% {
    transform: none; }
  85% {
    clip: rect(72px, 9999px, 51px, 0);
    text-shadow: -2px 0 #d598b7;
    transform: skew(0.34deg); }
  100% {
    transform: none; }
  90% {
    clip: rect(37px, 9999px, 89px, 0);
    text-shadow: -2px 0 #d598b7;
    transform: skew(0.02deg); }
  100% {
    transform: none; }
  95% {
    clip: rect(26px, 9999px, 85px, 0);
    text-shadow: -2px 0 #d598b7;
    transform: skew(0.3deg); }
  100% {
    transform: none; }
  100% {
    clip: rect(56px, 9999px, 30px, 0);
    text-shadow: -2px 0 #d598b7;
    transform: skew(0.6deg); }
  100% {
    transform: none; } }
@keyframes glitch-animate2 {
  0% {
    clip: rect(8px, 9999px, 95px, 0);
    text-shadow: -2px 0 #19c248, 2px 2px #ffe000;
    transform: skew(0.73deg); }
  100% {
    transform: none; }
  5% {
    clip: rect(94px, 9999px, 46px, 0);
    text-shadow: -2px 0 #19c248, 2px 2px #ffe000;
    transform: skew(0.29deg); }
  100% {
    transform: none; }
  10% {
    clip: rect(87px, 9999px, 63px, 0);
    text-shadow: -2px 0 #19c248, 2px 2px #ffe000;
    transform: skew(0.04deg); }
  100% {
    transform: none; }
  15% {
    clip: rect(33px, 9999px, 13px, 0);
    text-shadow: -2px 0 #19c248, 2px 2px #ffe000;
    transform: skew(0.02deg); }
  100% {
    transform: none; }
  20% {
    clip: rect(91px, 9999px, 10px, 0);
    text-shadow: -2px 0 #19c248, 2px 2px #ffe000;
    transform: skew(0.36deg); }
  100% {
    transform: none; }
  25% {
    clip: rect(41px, 9999px, 49px, 0);
    text-shadow: -2px 0 #19c248, 2px 2px #ffe000;
    transform: skew(0.74deg); }
  100% {
    transform: none; }
  30% {
    clip: rect(77px, 9999px, 63px, 0);
    text-shadow: -2px 0 #19c248, 2px 2px #ffe000;
    transform: skew(0.51deg); }
  100% {
    transform: none; }
  35% {
    clip: rect(77px, 9999px, 91px, 0);
    text-shadow: -2px 0 #19c248, 2px 2px #ffe000;
    transform: skew(0.71deg); }
  100% {
    transform: none; }
  40% {
    clip: rect(76px, 9999px, 32px, 0);
    text-shadow: -2px 0 #19c248, 2px 2px #ffe000;
    transform: skew(0.01deg); }
  100% {
    transform: none; }
  45% {
    clip: rect(15px, 9999px, 25px, 0);
    text-shadow: -2px 0 #19c248, 2px 2px #ffe000;
    transform: skew(0.35deg); }
  100% {
    transform: none; }
  50% {
    clip: rect(3px, 9999px, 75px, 0);
    text-shadow: -2px 0 #19c248, 2px 2px #ffe000;
    transform: skew(0.91deg); }
  100% {
    transform: none; }
  55% {
    clip: rect(31px, 9999px, 81px, 0);
    text-shadow: -2px 0 #19c248, 2px 2px #ffe000;
    transform: skew(0.89deg); }
  100% {
    transform: none; }
  60% {
    clip: rect(81px, 9999px, 82px, 0);
    text-shadow: -2px 0 #19c248, 2px 2px #ffe000;
    transform: skew(0.31deg); }
  100% {
    transform: none; }
  65% {
    clip: rect(91px, 9999px, 91px, 0);
    text-shadow: -2px 0 #19c248, 2px 2px #ffe000;
    transform: skew(0.79deg); }
  100% {
    transform: none; }
  70% {
    clip: rect(17px, 9999px, 44px, 0);
    text-shadow: -2px 0 #19c248, 2px 2px #ffe000;
    transform: skew(0.99deg); }
  100% {
    transform: none; }
  75% {
    clip: rect(36px, 9999px, 79px, 0);
    text-shadow: -2px 0 #19c248, 2px 2px #ffe000;
    transform: skew(0.77deg); }
  100% {
    transform: none; }
  80% {
    clip: rect(76px, 9999px, 3px, 0);
    text-shadow: -2px 0 #19c248, 2px 2px #ffe000;
    transform: skew(0.2deg); }
  100% {
    transform: none; }
  85% {
    clip: rect(32px, 9999px, 68px, 0);
    text-shadow: -2px 0 #19c248, 2px 2px #ffe000;
    transform: skew(0.3deg); }
  100% {
    transform: none; }
  90% {
    clip: rect(25px, 9999px, 73px, 0);
    text-shadow: -2px 0 #19c248, 2px 2px #ffe000;
    transform: skew(0.1deg); }
  100% {
    transform: none; }
  95% {
    clip: rect(58px, 9999px, 97px, 0);
    text-shadow: -2px 0 #19c248, 2px 2px #ffe000;
    transform: skew(0.25deg); }
  100% {
    transform: none; }
  100% {
    clip: rect(3px, 9999px, 54px, 0);
    text-shadow: -2px 0 #19c248, 2px 2px #ffe000;
    transform: skew(0.34deg); }
  100% {
    transform: none; } }
@keyframes glitch-skew {
  0% {
    transform: skew(-1deg); }
  100% {
    transform: none; }
  10% {
    transform: skew(0deg); }
  100% {
    transform: none; }
  20% {
    transform: skew(-4deg); }
  100% {
    transform: none; }
  30% {
    transform: skew(1deg); }
  100% {
    transform: none; }
  40% {
    transform: skew(-4deg); }
  100% {
    transform: none; }
  50% {
    transform: skew(-2deg); }
  100% {
    transform: none; }
  60% {
    transform: skew(2deg); }
  100% {
    transform: none; }
  70% {
    transform: skew(1deg); }
  100% {
    transform: none; }
  80% {
    transform: skew(-3deg); }
  100% {
    transform: none; }
  90% {
    transform: skew(2deg); }
  100% {
    transform: none; }
  100% {
    transform: skew(0deg); }
  100% {
    transform: none; } }
@media (max-width: 480px) {
  .glitch {
    animation: glitch-skew 1s 3 linear alternate-reverse; }
    .glitch::before {
      left: 2px;
      text-shadow: -2px 0 #d598b7;
      clip: rect(44px, 450px, 56px, 0); }
    .glitch::after {
      content: attr(data-txt);
      position: absolute;
      width: 100%;
      height: 100%;
      left: -2px;
      text-shadow: 1px 0 yellow;
      top: 0;
      color: black;
      background: white;
      overflow: hidden;
      clip: rect(0, 900px, 0, 0);
      left: 0;
      animation: glitch-animate 5s 5 linear alternate-reverse, glitch-animate2 1s 2 steps(5, end) alternate-reverse; } }
@media (min-width: 481px) {
  .glitch:hover {
    animation: glitch-skew 3s 3 linear alternate-reverse; }
    .glitch:hover::before {
      content: attr(data-txt);
      position: absolute;
      width: 100%;
      height: 100%;
      left: -2px;
      text-shadow: 1px 0 yellow;
      top: 0;
      color: black;
      background: white;
      overflow: hidden;
      clip: rect(0, 900px, 0, 0);
      left: 2px;
      clip: rect(44px, 450px, 56px, 0);
      animation: glitch-animate 2s 4 linear alternate-reverse; }
    .glitch:hover::after {
      content: attr(data-txt);
      position: absolute;
      width: 100%;
      height: 100%;
      left: 2px;
      top: 0;
      color: black;
      background: white;
      overflow: hidden;
      clip: rect(0, 900px, 0, 0);
      left: 0;
      clip: auto;
      animation: glitch-animate2 3s 3 steps(5, end) alternate-reverse; } }

/*# sourceMappingURL=glitchOutput.css.map */
